.tab-list {
  border-bottom: 1px solid rgb(236, 236, 236);
  margin-bottom: 2em;
  padding-left: 0;
}

.tab-list-item {
  background-color: #f9f6ff;
  margin-right: 1em;
  display: inline-block;
  list-style: none;
  color: #333333;
  margin-bottom: 10px;
  padding: 0.5rem 0.75rem;
}

.tab-list-active {
  background-color: #644c99;
  color: white;
  border-radius: 10px;
  transition: all 300ms
}
