.tab-list {
  margin-bottom: 2em;
  padding-left: 0;
}

.tab-list-item {
  background-color: #f9f6ff;
  margin-right: 1em;
  display: inline-block;
  list-style: none;
  color: #333333;
  margin-bottom: 10px;
  padding: 0.5rem 0.75rem;
}

.tab-list-active {
  background-color: #644c99;
  color: white;
  border-radius: 10px;
  transition: all 300ms
}

.myshadow{
box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

.activeLink{
    background-color: red;
    color: #fff;
}
.error{
  position: absolute;
  color: rgb(208, 5, 5);
  font-size: 10px;
  margin-top: 4px;
}